<!-- src/app/features/video-searching/video-searching.component.html -->
<div class="container mx-auto p-6 bg-gray-100 min-h-screen font-sans">
  <div class="max-w-6xl mx-auto bg-white p-6 sm:p-8 rounded-lg shadow-xl space-y-6">
    <h1 class="text-3xl sm:text-4xl font-bold text-gray-800 mb-8 text-center">Video Search</h1>

    <app-search-bar
      [initialSearchTerm]="currentSearchTerm"
      (searchSubmitted)="onSearchSubmitted($event)"
    ></app-search-bar>

    <app-video-list
      [videos]="videos"
      [isLoading]="isLoadingVideos"
      [errorMessage]="errorMessage"
      [searchTerm]="currentSearchTerm"
    ></app-video-list>

  </div>
</div>